.body {
  color: var(--small-text, #505c62);
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 186.5%; /* 29.84px */
}
.link {
  color: #787878;
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.link:hover {
  text-decoration: underline;
}

.linkedIn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #0a66c2;
  color: white;
}
.xTwitter {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: black;
  color: white;
}
